# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Override files (these should not be committed as they can contain sensitive information)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files (customize based on your file naming convention)
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# Logs and generated plans
*.log
*.plan